.tile {
  width: 15rem;
  height: 20rem;
  border-radius: 20px;
  background-color: #363630;
}

.tilesHolder {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.tileSectionHolder {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.tileSelect {
  width: 100%;
  height: 2.5rem;
  background-color: #10100e;
  border: none;
  border-radius: 20px;
  color: #ffffe3;
  padding: 0.5rem;
}

.tileDate {
  width: calc(100% - 1rem);
  height: 1.5rem;
  background-color: #10100e;
  border: none;
  border-radius: 20px;
  color: #ffffe3;
  padding: 0.5rem;
}

.trashIcon {
  width: 2rem;
  padding-top: 0.5rem;
  cursor: pointer;
}

.tileHeader {
  width: 12rem;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #10100e;
  font-weight: 400;
}

.tileBody {
  padding: 1rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tileHeaderColor {
  height: 3rem;
  background-color: rgb(6, 102, 6);
  border-radius: 20px 20px 0 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 600px) {
  .tile {
    width: 15rem;
    height: 20rem;
    border-radius: 20px;
    background-color: #363630;
  }

  .tilesHolder {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: start;
  }

  .tileSectionHolder {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .tileSelect {
    width: 100%;
    height: 2.5rem;
    background-color: #10100e;
    border: none;
    border-radius: 20px;
    color: #ffffe3;
    padding: 0.5rem;
  }

  .tileDate {
    width: calc(100% - 1rem);
    height: 1.5rem;
    background-color: #10100e;
    border: none;
    border-radius: 20px;
    color: #ffffe3;
    padding: 0.5rem;
  }

  .trashIcon {
    width: 2rem;
    padding-top: 0.5rem;
    cursor: pointer;
  }

  .tileHeader {
    width: 12rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #10100e;
    font-weight: 400;
  }

  .tileBody {
    padding: 1rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* .headerRed {
  height: 3rem;
  background-color: rgb(230, 102, 102);
  border-radius: 20px 20px 0 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.headerYellow {
  height: 3rem;
  background-color: rgb(214, 214, 109);
  border-radius: 20px 20px 0 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.headerGreen {
  height: 3rem;
  background-color: rgb(104, 187, 104);
  border-radius: 20px 20px 0 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
} */

  .tileHeaderColor {
    height: 3rem;
    background-color: rgb(6, 102, 6);
    border-radius: 20px 20px 0 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    padding: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
